/* ファイルアップロードボタンのスタイル */
#file-input {
  margin           : 20px;
}

/* コード表示エリア全体のスタイル */
.line-container {
  display          : flex;
  flex-direction   : column;
  padding          : 20px;
}

/* コード表示エリアの行に関するスタイル */
.line {
  display          : flex;
  align-items      : center;
}

/* コード表示エリアの行番号に関するスタイル */
.line-number {
  font-size        : 16px;
  margin-right     : 10px;
  margin-bottom    : 0.5em;
  width            : 1.5em;
}

/* コード表示エリアの行番号とテキストの境界線に関するスタイル */
.border-line {
  margin-right     : 10px;
  margin-bottom    : 0.5em;
  border-right     : 2px solid #ccc;
  height           : 1.5em;
}

/* コード表示エリアのテキストに関するスタイル */
.line-text {
  font-size        : 16px;
  margin-bottom    : 0.5em;
}

/* マーカーのスタイル */
.working {
  background-color : yellow;
  display          : inline-block;
  padding-right    : 10000px;
  margin-right     : -10000px;
}

/* マーカーのスタイル */
.checked {
  background-color : lightgrey;
  display          : inline-block;
  padding-right    : 10000px;
  margin-right     : -10000px;
}

/* ステータスラベルのスタイル */
.status-label {
  font-size        : 14px;
  margin-right     : 10px;
  margin-bottom    : 0.5em;
  width            : 4em;
  text-align       : center;
  background-color : #F0F0F0;
  box-shadow       : 1px 1px 1px #000000;
}
